*svn*
*.ipynb
*.pyc
*.pyo
.project
.pydevproject
*.swp
*.swo
build
dist
*.egg-info
pip-wheel-metadata/
.settings
*.wpr
*.wpu
.idea
.coverage
cover
.DS_Store
*,cover
tags
.pytest_cache
.venv

#VScode
.vscode/
